<div id="fineart-footer">
<h1 class="site-title"><a href="<%= homeurl %>/"><div id="logo"><img src="<%= largelogo %>"/></div></a></h1><div class="site-menu">
<a href="<%= aboutpage %>">About</a> | <a href="/gallery/">Gallery</a> | <a href="/news/">News</a> | <a href="/contact/">Contact</a> | <a href="<%= shippingpage %>">Shipping</a> | <a href="<%= privacypage %>">Privacy</a></div>
</div>
