<div id="fineart-about">
<div id="fineart-single-info">
<h2 class="site-page-title"><%= items[0]['title'] %></h2>  
</div>
<div><a href="<%= items[0]['permalink'] %>"></a> </div>
<div class="body"><%= items[0]['body'] %></div>
</div>

<%= this.partial({url: templatesurl+'footer.ejs'}) %>



