
<div id="coverimage"><a class="begin" href="/gallery/"><img src="<%= coverimagehorizontal %>" alt="<%= covertitle %> - <%= coverdate %> - <%= coverauthor %> "/></a></div>

<%= this.partial({url: templatesurl+'footer.ejs'}) %>

